html, body {
  margin: 0;
  padding: 0;
  background-color: midnightblue;
  font-family: monospace;
}
p {
  margin: 10px
}
.card {
  font-size: 12px;
}
button{
  font-family: monospace;
  text-align: center;
  cursor: pointer;
  background-color: white;
}
button:hover{
  background-color: lightgrey;
}
button:active{
  color:#f00;
  border-style:inset;
}

table{
  /*  width: 100%;
  border: silver solid thin;
  border-spacing:0px;
  */
}
td {
  border: silver solid thin;
  background-color: whitesmoke;
  /*    border-radius: 10px;
  width: 50px;
  height:50px;
  text-align: center;*/
}

.background {
  position: absolute;
  display: block;
  top: 0px;
  bottom:0px;
  left: 0px;
  right: 0px;
  z-index: 0;
}
.flex-container {
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top:10px;
  bottom:10px;
  left:10px;
  right:10px;
  background-color: alicseblue;
}
.flex-container>div {
  background-color: pink;
}

#header{
    font-weight: bold;
    margin: 0px;
    text-align: center;
}
#infoTable {
  text-align: left;
}
.infoLabel{
  text-align: right;
  border-style: none;
}
.infoContent {
  font-family: monospace;
  text-align: left;
  border-style: none;
}

#buttonTable{
  width:auto;
}
.buttonCell{
  font-family: monospace;
  text-align: center;
  cursor: pointer;
  background-color: white;
}
.buttonCell:hover{
  background-color: lightgrey;
}
.buttonCell:active{
  color:#f00;
  border-style:inset;
}
#clearButton {
  visibility: hidden;
  padding-left: 10px;
  padding-right: 10px;
}
.buttonPad {
  border-style: none;
}

#hashSource{
  font-family:monospace;
  text-align: center;
}
#rightHash {
  color: red;
}

#rollHolder {
  vertical-align: top;
}
#rollTable {
  margin: 0px;
  visibility:collapse;
}
.rollCell{
  font-family: monospace;
  text-align: center;
  cursor: default;
  background-color: white;
}

#payOut {
  visibility: hidden;
}
#transactionAddress {
  text-align: center;
}

#panel {
  background-color: white;
  visibility: hidden;
  position: absolute;
  border:silver solid thin;
  border-radius: 0px;
}
#maximum {
  color: blue;
  cursor: pointer;
}
#closeButton {
  position: absolute;
  right: 0px;
  color: blue;
  top: 0px;
  background-color: white;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 0px;
  border:none;
  vertical-align: middle;
  cursor: pointer;
}
#browser {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 400px;
  visibility: hidden;
}
#inner{
  border: silver solid thin;
  border-spacing: 0px;
  opacity:0.25;
}
